<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <header>
    Submit your details here :
  </header>
  <form action="/details" method="POST">
    <input type="text" type="name" placeholder="Enter your name">
    <input type="text" type="education" placeholder="education">
    <input type="text" type="number" placeholder="your number">
    <input type="submit">
  </form>
</body>
</html>