<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Details</title>
</head>
<body>
  <header>
    Submit your details here :
  </header>
  <br>
  <br>
  <form action="/details" method="POST">
    <input type="text" placeholder="Enter your name" name="name">
    <input type="text" placeholder="Your Education" name="Education">
    <input type="number"  placeholder="Contact number" name="Contact number">
    <select aria-label="default select example" >
      <option disable selected value="">Gender</option>
     <option value="male">male</option>
     <option value="female">female</option>
     <option value="prefer not to say">Prefer not to say</option>
    </select>
    <input type="email" name="email" placeholder="name@gmail.com">
    <input type="submit">
  </form>
</body>
</html>