<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Error</title>
  </head>
  <body class="bg-gray-900">
    <header class="text-white text-5xl justify-center flex">
      404 Error !
    </header>
    <br />
    <main class="justify-center flex text-white">
      page not found...
    </main>
    <br />
    <div class="justify-center flex text-white">
      <a href="/">Tap to Refresh</a>
    </div>
  </body>
</html>